/* 
Color Palette
1st #FF9900, Vitamin C
2nd #424242, Route 66
3rd #E9E9E9, Steady Grey
4th #BCBCBC, BC
5th #3299BB, Gamebookers Blue
6th #BBA5CF, Purple

Possible color changes
Vitamin C to #D76849
Gamebookers Blue to #79B3B6
*/

@font-face {
    font-family: 'bebas_neueregular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


aside {
	margin-top: 45px;
}

aside a {
	color: black;
	font-family: 'bebas_neueregular', sans-serif; 
	font-size: .75em;
	font-weight: 300;
	line-height: .2em;
	text-decoration: none;
}

body {
	background: url('../images/line.png');
	background-repeat: repeat-x;
	background-position: 0px 110px;
}

h3 {
	color: darkgrey;
	font-family: 'bebas_neueregular', sans-serif; 
	font-size: .85em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

footer li {
	display: inline-block;
	padding: 0 15px;
}

footer p {
	margin-top: 20px;
}

footer ul {
	float: right;
	margin-top: 20px;
}

li {
	list-style: none;
}

main img {
	padding-top: 4%;
	width: 97%;
}

nav ul {
	float: right;
}

nav li {
	display: inline-block;
}

nav a {
  color: #828282;
  display: block;
  font-family: 'bebas_neueregular', sans-serif;
  font-size: .95em;
  font-weight: 300;
  margin-bottom: 15px;
  padding: 105px 25px 10px 25px;
  text-decoration: none;
  transition: background 1s linear;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
}

ul {
	margin: 0;
	padding: 0;
}

#about {
	margin: 0;
	padding: 0;
}

#arrow {


}

#bio {
	border-bottom: 1px solid lightgrey;
	color: #111;
	font-family: "proxima-nova",sans-serif;
	font-size: 1em; 
	font-weight: 600;
	line-height: 1.5em;
	padding-bottom: 4%;
	padding-top: 6%;
}

#bio2 {
	border-bottom: 1px solid lightgrey;
	color: #828282;
	font-family: 'bebas_neueregular', sans-serif; 
	font-size: .75em;
	font-weight: 300;
	line-height: 1.5em;
	margin-right: 25%;
	padding-bottom: 3%;
}

#caps {
	font-family: 'bebas_neueregular', sans-serif; 
	font-size: 1.25em;
	font-weight: 700;
}

#chaz {
	font-size: 1.6em;
	font-weight: 700;
}

#contact {
	position: relative;
}

#contact-footer {
	border-top: 1px solid #ddd;
	color: black;
	font-family: 'EB Garamond', serif;
  	font-size: .75em;
	margin-top: 0;
}

#empty {

}

#find {
	margin-bottom: 30px;
}

#footer {
	border-top: 1px solid #ddd;
	color: black;
	font-family: 'EB Garamond', serif;
  	font-size: .75em;
  	margin-bottom: 30px;
  	margin-top: 50px;
}

#hello {
	background-color: #fff;
	font-family: 'EB Garamond', serif;
	font-size: .95em;
	line-height: 1.15em;
	margin-top: 45px;

}

#image {
	margin-top: 0px;
}

#info {
	font-family: 'bebas_neueregular', sans-serif;
	font-size: 1.325em;
	font-weight: 300;
}

#info a {
	color: tomato;
	text-decoration: none;
}

#info p {
	float: right;
}

#logo img {
	bottom: 0;
	left: 0;
	position: absolute;
	margin-left: 5px;
}

#logo {
	display: block;
	height: 146px;
	position: relative;
}

#main {
	background: url('../images/double-arrow.png');
	background-repeat: no-repeat;
	background-position: 107% 82%;
	padding: 5.21% 0;

}

#me {
	margin-top: 10px;
}

#mystory {
	margin-bottom: 25px;
	position: relative;
}

#nav a:hover {
  background: lightgrey;
}

#nav a:active {
  color: #111;
}



body #top .active-link > a {
color: #111;
}





#quote {
	font-family: 'bebas_neueregular', sans-serif;
	font-size: 1.85em;
	text-align: center;
	font-weight: 300;
}

#sosay {
	font-family: 'bebas_neueregular', sans-serif; 
	font-size: 4.95em;
	font-weight: 300;
}

#sosay p {
	text-align: center;
}

#work {
	margin-top: 50px;
}


/* GRID */
.container {
	width: 960px;
	margin: 0 auto;
	padding: 0px;
	clear: both;
}

.row {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.column100 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.column90 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 90%;
}

.column80 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 80%;
}

.column75 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 75%;
}

.column70 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 70%;
}

.column66 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 66.66666%;
}

.column60 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 60%;
}

.column50 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 50%;
}

.column40 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 40%;
}

.column33 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 33.333333%;
}

.column30 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 30%;
}

.column25 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 25%;
}

.column20 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 20%;
}

.column10 {
	float: left;
	margin: 0;
	padding: 0px;
	width: 10%;
}

.header100 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.header90 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 90%;
}

.header80 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 80%;
}

.header75 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 75%;
}

.header70 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 70%;
}

.header66 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 66.66666%;
}

.header60 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 60%;
}

.header50 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 50%;
}

.header40 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 40%;
}

.header33 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 33.333333%;
}

.header30 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 30%;
}

.header25 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 25%;
}

.header20 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 20%;
}

.header10 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 10%;
}

.footer100 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.footer90 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 90%;
}

.footer80 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 80%;
}

.footer75 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 75%;
}

.footer70 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 70%;
}

.footer66 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 66.66666%;
}

.footer60 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 60%;
}

.footer50 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 50%;
}

.footer40 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 40%;
}

.footer33 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 33.333333%;
}

.footer30 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 30%;
}

.footer25 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 25%;
}

.footer20 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 20%;
}

.footer10 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 10%;
}

.column-box {
	margin: 0 5px;
}

#wrapper:after,
#main:after,
header:after,
footer:after,
.container:after,
.row:after,
.column-box:after,
.header100:after,
.header90:after,
.header80:after,
.header75:after,
.header70:after,
.header66:after,
.header60:after,
.header50:after,
.header40:after,
.header33:after,
.header30:after,
.header25:after,
.header20:after,
.header10:after,
.column100:after,
.column90:after,
.column80:after,
.column75:after,
.column70:after,
.column66:after,
.column60:after,
.column50:after,
.column40:after,
.column33:after,
.column30:after,
.column25:after,
.column20:after,
.column10:after,
.footer100:after,
.footer90:after,
.footer80:after,
.footer75:after,
.footer70:after,
.footer66:after,
.footer60:after,
.footer50:after,
.footer40:after,
.footer33:after,
.footer30:after,
.footer25:after,
.footer20:after,
.footer10:after,
nav:after,
ul:after,
#slideshow:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/**************************************************************/
/******************** MEDIAQUERY RESPONSIVE *******************/
/**************************************************************

980px +
768px - 979px
480px - 767px
0px - 479px

*/


@media (min-width: 768px) and (max-width: 979px) {
.container {
	width: 768px;
}

#main {
	background: none;
	
}

}


@media (min-width: 480px) and (max-width: 767px) {

#main {
	background: none;
	
}

.container {
	width: 100%;
}

.column100 {
	float: none;
	width: 100%;
}

.column90 {
	float: none;
	width: 100%;
}

.column80 {
	float: none;
	width: 100%;
}

.column75 {
	float: none;
	width: 100%;
}

.column70 {
	float: none;
	width: 100%;
}

.column66 {
	float: none;
	width: 100%;
}

.column60 {
	float: none;
	width: 100%;
}

.column50 {
	float: none;
	margin-left: 55px;
	width: 55%;
}

.column40 {
	float: none;
	width: 100%;
}

.column33 {
	float: none;
	width: 100%;
}

.column30 {
	float: none;
	width: 100%;
}

.column25 {
	float: none;
	width: 100%;
}

.column20 {
	float: none;
	width: 100%;
}

.column10 {
	float: none;
	width: 100%;
}

.column-box {
	margin: 0px;
}

}

@media (min-width: 0px) and (max-width: 479px) {



#bio {
	margin-left: 3%;
}

#bio2 {
	margin: 0 11% 0 3%;
}

footer p {
	margin-left: 10%;
}

footer ul {
	margin-right: 75px;
}

main img {
	width: 100%;
}

#main {
	background: none;
	
}

#me {
	margin-left: 3%;
}


nav a {
	padding: 15px;
}

nav li {
	display: inline-block;
	}

nav ul {
	margin-right: 4%;
}

#info p {
	float: none;
	text-align: center;
}

.container {
	width: 100%;
}

.column100 {
	float: none;
	width: 100%;
}

.column90 {
	float: none;
	width: 100%;
}

.column80 {
	float: none;
	width: 100%;
}

.column75 {
	float: none;
	width: 100%;
}

.column70 {
	float: none;
	width: 100%;
}

.column66 {
	float: none;
	width: 100%;
}

.column60 {
	float: none;
	width: 100%;
}

.column50 {
	float: none;
	width: 100%;
}

.column40 {
	float: none;
	width: 100%;
}

.column33 {
	float: none;
	width: 100%;
}

.column30 {
	float: none;
	width: 100%;
}

.column25 {
	float: none;
	width: 100%;
}

.column20 {
	float: none;
	width: 100%;
}

.column10 {
	float: none;
	width: 100%;
}

.column-box {
	margin: 0px;
}

}

body {
width: 100%;
}
