/* 
Color Palette
1st #FF9900, Vitamin C
2nd #424242, Route 66
3rd #E9E9E9, Steady Grey
4th #BCBCBC, BC
5th #3299BB, Gamebookers Blue
6th #BBA5CF, Purple

Possible color changes
Vitamin C to #D76849
Gamebookers Blue to #79B3B6
*/


aside {
	margin-top: 45px;
}

aside a {
	color: black;
	font-family: 'Signika Negative', sans-serif; 
	font-size: .85em;
	font-weight: 300;
	line-height: .25em;
	text-decoration: none;
}

body {
	background: url('../img/line.png');
	background-repeat: repeat-x;
	background-position: 0px 110px;
}

h3 {
	color: darkgrey;
	font-family: 'Signika Negative', sans-serif; 
	font-size: .95em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

footer li {
	display: inline-block;
	padding: 0 15px;
}

footer p {
	margin-top: 20px;
}

footer ul {
	float: right;
	margin-top: 20px;
}

li {
	list-style: none;
}

main img {
	width: 100%;
}

nav ul {
	float: right;
}

nav li {
	display: inline-block;
}

nav a {
  color: black;
  display: block;
  font-family: 'EB Garamond', serif;
  font-size: .95em;
  margin-bottom: 15px;
  padding: 100px 25px 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 1s linear;
}

ul {
	margin: 0;
	padding: 0;
}


/*==============================
        Gallery
==============================*/
 
/* HEADINGS */
.gallery figure h1 {
color: lightgrey;
position: absolute;
right: 0;
}

.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}
 
.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
 
/*
        Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}


/*
.camera_wrap {
	display: none;
	float: left;
	position: relative;
	width: 100%;
	z-index: 0;
}

.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
*/





#bio {
	border-bottom: 1px solid black;
	font-family: 'Signika Negative', sans-serif; 
	font-size: 1.35em;
	font-weight: 700;
	padding-bottom: 10px;
}

#bio2 {
	font-family: 'Signika Negative', sans-serif; 
	font-size: .95em;
	font-weight: 300;
	margin-top: -10px;
}

#caps {
	font-family: 'Signika Negative', sans-serif; 
	font-size: 1.25em;
	font-weight: 700;
}

#contact {
	position: relative;
}

#find {
	margin-bottom: 20px;
}

#footer {
	border-top: 1px solid #ddd;
	color: black;
	font-family: 'EB Garamond', serif;
  	font-size: .75em;
  	margin-bottom: 30px;
  	margin-top: 50px;
}

#hello {
	background-color: #fff;
	font-family: 'EB Garamond', serif;
	font-size: .95em;
	line-height: 1.15em;
	margin-top: 45px;

}

#image {
	margin-top: 25px;
}

#info {
	font-family: 'EB Garamond', serif;
	font-size: 1.85em;
}

#logo img {
	bottom: 0;
	left: 0;
	position: absolute;
	margin-left: 5px;
}

#logo {
	display: block;
	height: 146px;
	position: relative;
}

#main {
	background-color: #ddd;
	margin-top: 50px;
	padding: 50px 0px;
}

#mystory {
	margin-bottom: 25px;
	position: relative;
}

#nav a:hover {
  background: lightgrey;
}

#p,
#s,
#w {
	text-align: center;
	font-family: 'Signika Negative', sans-serif; 
	font-size: .95em;
	font-weight: 300;
}

#quote {
	font-family: 'EB Garamond', serif;
	font-size: 1.85em;
}

#sosay {
	font-family: 'Signika Negative', sans-serif; 
	font-size: 3.95em;
	font-weight: 300;
}

#sosay p {
	margin-right: 75px;
}

#work {
	margin-top: 50px;
}

