/* 
Color Palette
1st #FF9900, Vitamin C
2nd #424242, Route 66
3rd #E9E9E9, Steady Grey
4th #BCBCBC, BC
5th #3299BB, Gamebookers Blue

Possible color changes
Vitamin C to #D76849
Gamebookers Blue to #79B3B6
*/


li {
	list-style: none;
}

nav ul {
	float: right;
}

nav li {
	display: inline-block;
}

nav a {
  color: black;
  display: block;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  margin-bottom: 15px;
  padding: 100px 25px 10px 25px;
  text-decoration: none;
  transition: background 1s linear;
}

#nav a:hover {
  background: #BBA5CF;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

ul {
	margin: 0;
	padding: 0;
}



footer ul {
	float: right;
	margin-top: 20px;
}

footer li {
	display: inline-block;
	padding: 0 15px;
}

footer p {
	margin-top: 20px;
}

#p,
#s,
#w {
	text-align: center;
	font-family: 'Signika Negative', sans-serif; 
	font-size: .95em;
	font-weight: 300;
}





header {
	border-bottom: 1px solid #ddd;
	position: relative;
}

#bio {
	border-bottom: 1px solid black;
	font-family: 'Signika Negative', sans-serif; 
	font-size: 1.35em;
	font-weight: 700;
	
	
}

main img {
	width: 100%;
}

#logo img {
	bottom: 0;
	left: 0;
	position: absolute;
}

#logo {
	display: block;
	height: 146px;
	position: relative;
}


#bio2 {
	font-family: 'Signika Negative', sans-serif; 
	font-size: .95em;
	font-weight: 300;
	
}



#temp {
	color: darkgrey;
	font-family: 'Signika Negative', sans-serif; 
	font-size: .95em;
	font-weight: 700;
}

#me {
	color: black;
	font-family: 'Signika Negative', sans-serif; 
	font-size: .95em;
	font-weight: 300;
	
}

#footer {
	border-top: 1px solid #ddd;
	
	color: black;
	font-family: 'EB Garamond', serif;
  	font-size: .75em;
}

#social {
	
}

#photo {
	background: url(../img/river.jpg);
	height: 300px;

	width: 960px;
}

#school {
	background: url(../img/jimmy.jpg);
	height: 300px;
	width: 960px;
}

#progress {
	background: url(../img/dad.png);
	height: 300px;
	width: 960px;
}